<script src='//cdn.jsdelivr.net/gmaps4rails/2.1.2/gmaps4rails.js'> </script>
<script src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js'> </script>
<script src="//maps.google.com/maps/api/js?"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script> <!-- only if you need custom infoboxes -->
<%= link_to 'Retour', country_index_path, class:'btn btn-primary'%>
<h1>Country#show</h1>

    <div> 
        <br><%= @country.code %>
        <%= @country.alpha_2 %>
        <%= @country.alpha_3 %>
        <%= @country.name_fr %>
        <%= @country.name_en %><br>
    </div>
<br>
<hr>

    <div>
        <% @foreigner_data.each do |foreigner| %>
            <div> <%= foreigner.year %>
            <%= foreigner.number_of_french %></div>
        <%end%>
    </div>

<hr>

    <div>
        <% @embassies.each do |embassy| %>
            <div> 
                latitude : <%= embassy.latitude %><br>
                longitude :<%= embassy.longitude %><br>
                Coordonnées GPS : <%= embassy.gps %>
            </div>
            <hr>
        <%end%>
    </div>

    <div style='width: 800px;'>
        <div id="map" style='width: 800px; height: 400px;'></div>
    </div>
    
    <script>
        handler = Gmaps.build('Google');
        handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
            markers = handler.addMarkers(<%=raw @hash.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
        });
    </script>




