<%= link_to 'Retour', country_index_path, class:'btn btn-primary'%>

<div class="container">
    <div class="row col-lg-12 col-md-8 col-sm-10">
        <div class="card">
            <div class="card-body p-5">
                <h1 class="card-header text-center mb-3"><%= @country.name_fr %>.</h1>        
                    <div class="card-text">
                        <%= render partial: 'layouts/countryinfo', locals: {country: @country} %>
                    </div>
                <br>
                <hr>
                    <div class="card-text">
                        <%= render partial: 'layouts/foreigndata', locals: {country: @foreigner_data} %>
                    </div>
                    <hr>
                    <div class="card-text">
                        <%= render partial: 'layouts/embassiesdata', locals: {country: @embassies} %>
                    </div>
            </div>
        </div>
    </div>
</div>




