<h3 class="text-center"> Localisation de l'ambassade de France en <%= @country.name_fr %> </h3>

<% @embassies.each do |embassy| %>
<div> 
    latitude : <%= embassy.latitude %><br>
    longitude :<%= embassy.longitude %><br>
    Coordonnées GPS : <%= embassy.gps %>
</div>
<hr>
<%end%>
<div style='width: 800px;', class="justify-content-center">
        <div id="map" style='width: 800px; height: 400px;'></div>
</div>
    
    <script>
        handler = Gmaps.build('Google');
        handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
            markers = handler.addMarkers(<%=raw @hash.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
        });
    </script>
